openapi: 3.1.0
info:
  title: Bob (HiBob) Public Attendance People API
  description: 'Bob''s Public API for managing employees, attendance, projects, hiring,

    goals, documents, learning, and webhooks. Generated best-effort from

    public docs at https://apidocs.hibob.com/.

    '
  version: 1.0.0
  contact:
    name: HiBob
    url: https://apidocs.hibob.com/
servers:
- url: https://api.hibob.com/v1
  description: Production
security:
- serviceUserAuth: []
tags:
- name: People
paths:
  /people/search:
    post:
      tags:
      - People
      summary: Search for employees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fields:
                  type: array
                  items:
                    type: string
                showInactive:
                  type: boolean
                filters:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  employees:
                    type: array
                    items:
                      $ref: '#/components/schemas/Employee'
  /people:
    post:
      tags:
      - People
      summary: Create employee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Employee'
      responses:
        '201':
          description: Created
  /people/{identifier}:
    put:
      tags:
      - People
      summary: Update employee
      parameters:
      - $ref: '#/components/parameters/Identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Employee'
      responses:
        '200':
          description: OK
    post:
      tags:
      - People
      summary: Read employee by ID
      parameters:
      - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
  /profiles:
    get:
      tags:
      - People
      summary: Read public profile section of all active employees
      responses:
        '200':
          description: OK
components:
  schemas:
    Employee:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        surname:
          type: string
        email:
          type: string
        displayName:
          type: string
  parameters:
    Identifier:
      name: identifier
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    serviceUserAuth:
      type: http
      scheme: basic
      description: Service user credentials passed via HTTP Basic Authorization header
